.header-container {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  align-items: center;

  .header-dashboard {
    width: 50%;

    @media only screen and (max-width: 60em) {
      width: 40%;
    }
  }

  .header-nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
  }

  #header-btn {
    background: linear-gradient(180deg, #ff409a, #c438ef);
    color: white;
    border-radius: 30px;
  }

  .nav-list {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 75em) {
      width: 65%;
    }
  }
}
