.header-container {
  display: flex;
  margin: 2rem 1rem;
}

.header-nav {
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
}

#header-btn {
  background: linear-gradient(180deg, #ff409a, #c438ef);
  color: white;
  border-radius: 50px;
  font-size: 13px;
}

#user-menu {
  top: 0;
}
