.ant-menu-inline {
  width: 220px;
  font-size: 16px;

  @media only screen and (max-width: '25em') {
    width: 200px;
    font-size: 14px;
  }
}

.ant-menu-item-selected {
  color: #53b9ea !important;
}
