.sidebar {
  background: linear-gradient(
    180deg,
    rgba(255, 246, 240, 0.38) 0%,
    rgba(251, 232, 233, 0.31) 57.44%,
    rgba(252, 252, 255, 0.57) 100%
  );

  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  &-logo i {
    width: 15%;
    font-size: 15px;
    margin-block-start: 5px;
    color: #00c1d4;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  & .sidebar-item {
    align-self: center;
    height: 4rem;
    color: #6f6c99;
    position: relative;

    &-dot {
      color: #ff40a5;
      font-size: 50px;
      position: absolute;
      top: -22px;
      right: 10px;
    }
  }

  & .sidebar-item:hover {
    color: #53b9ea;
  }

  .Mui-selected {
    color: #53b9ea;
  }
}
