.currency-card {
  border: 1px solid #e2e2e8;
  height: 5rem;
  width: 12rem;
  display: inline-flex;
  margin-right: 20px;
  background-color: rgba(#fff6f0, 0.7);
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  align-items: center;

  &-container {
    display: flex;
    width: 100%;
    padding: 2px 10px;

    .currency-card-icon {
      align-self: center;
      margin-right: 15px;
    }
    .currency-card-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 22px 28px;
      align-items: center;
      margin-left: 10px;
      .currency-card-price {
        font-size: 16px;
        line-height: 18px;
        color: #4c4c66;
        opacity: 0.7;
        justify-self: end;
      }
      .currency-card-name {
        font-size: 11px;
        line-height: 13.5px;
        font-weight: 700;
        color: #4c4c66;
        justify-self: center;
        margin-left: 10px;
        opacity: 0.3;
      }
    }
    #arrow {
      width: 6px;
      height: 6px;
      margin-right: 3px;
      margin-block-end: 3px;
    }
    .up-arrow + .currency-card-percentage {
      font-size: 10.5px;
      line-height: 12px;
      color: #2bb596;
    }
    .down-arrow + .currency-card-percentage {
      font-size: 10.5px;
      line-height: 12px;
      color: #e3507a;
    }
  }
  @media only screen and (max-width: 68.75em) {
    &-container {
      padding: 2px 3px;
    }
    .currency-card-icon {
      margin-right: 12px;
    }
    .currency-card-info {
      margin-left: 5px;
      .currency-card-price {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
  @media only screen and (max-width: 50em) {
    .currency-card-info {
      grid-template-columns: 40px 50px;
      grid-template-rows: 25px 25px;
      margin-left: 5px;
      .currency-card-price {
        font-size: 11px;
        line-height: 13px;
      }
      .currency-card-name {
        font-size: 10px;
        line-height: 11.5px;
        margin-left: 5px;
      }
      .up-arrow + .currency-card-percentage {
        font-size: 9px;
        line-height: 10px;
        color: #2bb596;
      }
      .down-arrow + .currency-card-percentage {
        font-size: 9px;
        line-height: 10px;
        color: #e3507a;
      }
    }
  }
  @media only screen and (max-width: 40em) {
    .currency-card-info {
      margin-left: 0;
    }
    #arrow {
      margin-right: 1px;
    }
  }
}
